<div class="container">

    <!--<pre>{{debug | json}}</pre>-->
    <p>Form id: {{selectedFormId}}</p>

    <form ng-submit="onSubmit()" novalidate>
        <formly-form model="model" fields="generatedFormFields.data">
            <button type="submit" class="btn btn-primary submit-button">Submit</button>
        </formly-form>
    </form>

    <h2>Form Data</h2>
    <pre>{{model | json}}</pre>
    <!--
        <h2>Generated Data</h2>
        <pre>{{generatedFormFields | json}}</pre>

        <h2>FHIR form</h2>
        <pre>{{questionnaire | json}}</pre>
    -->
    <h2>Answer</h2>
    <pre>{{questionnaireAnswer | json}}</pre>
</div>

