<div class="container">
<!--
    <h3>Information about patient:</h3>
    <table class="table">
        <tr>
            <td>
                Name of patient:
            </td>
            <td>
                <span id="patient_name">{{name}}</span>
            </td>
        </tr>
    </table>
    </p>
-->
    <table class="table">
        <tr ng-repeat="q in questionnaireList.entry">
            <td>{{q.resource.id}}</td>
            <td>{{q.resource.date}}</td>
            <!--<td><a href="#/form/{{q.resource.id}}" class="btn btn-default">View</a></td>-->
            <td><button class="btn btn-default" ng-click="viewForm(q.resource.id)">View</button> </td>
            <td><button class="btn btn-default" ng-click="editForm(q.resource.id)">Edit</button> </td>
    </table>

    <!--<pre>{{questionnaireList | json}}</pre>-->

</div>